@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body{
    position: inherit;
    background-color: #ffffff;
}
.banner{
    /*background-image:url(bg.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*height: 20vh;*/
    width: 100%;
    margin-top: 20px;
}
.banner-font{
    color: #00AC7C;
    font-size: 70px;
    font-family: 'Staatliches', cursive;
    text-align: center;
    margin-top: -20px;
}

.card-body{
    background-color: #FAF7FF;
    color: rgb(0, 0, 0);
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    padding: 20px;

}
.card{
    border-color: #9615DB;
    border-radius: 10px;
    border-width: 0px;

}
.card-title{
    color: #8685EF;
    font-size: 40px;
    font-family: 'Sigmar One', cursive;

}
.intro-sec{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.title-intro-sec{
    font-size: 30px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 800;
}
.text-intro-sec{
    font-family: 'Roboto Mono', monospace;
}
.fo{
    background-color: #000000;
    color: #ffffff;
    
    margin-top:0px;
    text-align:center;
  }
  .tfo{
    font-family: 'Overpass', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    margin-top: 0px;
  }
  a { color: inherit; 
    text-decoration: none;
  }  

.main-head{
    width: 100%;
}
.upload1{
    align-items: center;
}
/*-------------------------------*/
@media screen and (max-width: 360px){

    body{
        position: absolute;
        background-color: #ffffff;
    }

}

  
  @media screen and (min-width: 520px){
    .banner-font {
         color: #00AC7C;
         font-size: 70px;
         font-family: 'Nosifer', cursive;
         text-align: center;
         margin-top: -20px;
     }
    
   }

@media screen and (min-width: 1024px){
   .banner-font {
        color: #00AC7C;
        font-size: 70px;
        font-family: 'Nosifer', cursive;
        text-align: center;
        margin-top: -20px;
    }

  }
